body{
    font-family: 'Ubuntu Mono', monospace, 'Courier New', Courier;
    background-color: #101010;
    color: whitesmoke;
}

p{
    font-size: large;
}

#titleText{
    text-align: center;
}

.mainContainer{
    margin: auto;
    width: 95%;
}

.mainFieldset{
    background-color: whitesmoke;
    border-style: none;
    border-radius: 5px 5px 5px 5px;
    margin: auto;
    width: 60%;
}

.divInfoContainer{
    color: black;
}

.dropDown{
    border-radius: 0px 0px 5px 5px;
    background-color: #d0d0d0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.dropDownBtn{
    width: 100%;
    border-style: none;
    text-align: left;
    font-size: larger;
    font-weight: bold;
    background-color: #666666;
    color: whitesmoke;
    border-radius: 5px 5px 5px 5px;
    height: 50px;
}

.displaying, .dropDownBtn:hover{
    background-color: #505050;
}

.displaying{
    border-radius: 5px 5px 0px 0px;
}

.pierDW{
    padding-left: 50px;
    padding-right: 50px;
}

.h1ForPierDW{
    text-align: center;
    font-size: 45px;
}

.pierContact{
    margin: auto;
    width: 100%;
    position: fixed;
    z-index: -1;
    bottom: 0;
    text-align: center;
    font-size: small;
    padding-bottom: 5px;
}